<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>JDM Virtual 360 - Admin Page</title>
</head>
<body>
    <a href="/booking" class="btn btn-light">Book Now</a>
    <a href="/admin" class="btn btn-light">Admin</a>
    <a href="/order" class="btn btn-light">Order</a>
    <div class="admin_wrapper">
        <h1>Welcome to Your Site</h1>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Client</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for client in clients %}
                  <tr>
                    <th scope="row">{{client.name}}</td>
                    <td>{{client.phone}}</td>
                    <td>{{client.email}}</td>
                    <td><a href=>Place Holder for Delete</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </table>   
    <form action="/pictureup" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image">
        <p>Description</p>
        <input type="text" name="description" id="">
        <button type="submit">Upload</button>
    </form>
    </div>  
</body>
</html>