<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>JDM Virtual 360</title>
</head>

<body>
    <div class="order">
        <ul class="nav">
            <h1>JDM 360 Virtual</h1>
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contactus">Contact Us</a>
            </li>
        </ul>
        <a href="/booking" class="btn btn-light">Book Now</a>
        <a href="/admin" class="btn btn-light">Admin</a>
        <a href="/order" class="btn btn-light">Order</a>    </div>

    <form action="/order" method="post" id='book'>
        {% csrf_token %}
        <p>Name</p>
        <input type="text" name="name">
        <p>Phone Number</p>
        <input type="tel" name="phone">
        <p>Email</p>
        <input type="email" name="email">
        <input type="submit" class= "btn btn-primary" value="Register">
    </form>
</div>
</body>
</html>